<p style="font-size:48px"> Pick your favourite foods </p>

<table style="width:50%">
  <tr>
    <th><h1>Carbs:</h1></th>
    <th><h1>Protein:</h1></th>
    <th><h1>Fats:</h1></th>
  </tr>
  <tr>
    <td><select>
  <option value="Spagetti">Spagetti</option>
  <option value="Oats">Oats</option>
  <option value="Rice">Rice</option>
  <option value="Banana">Banana</option>
  <option value="Wholegrain bread">Wholegrain bread</option>
</select></td>
  <td><select id="protein">
  <option value="Pork neck">Pork neck</option>
  <option value="Cottage cheese">Cottage cheese</option>
  <option value="Chicken breast">Chicken breast</option>
  <option value="Whey protein">Whey protein</option>
  <option value="eggs">eggs</option>
</select></td>
    <td><select id="fats">
  <option value="Olive oil">Olive oil</option>
  <option value="Butter">Butter</option>
  <option value="Almonds">Almonds</option>
  <option value="Avocado">Avocado</option>
  <option value="Milk">Milk</option>
</select></td>
  </tr>
  <tr>
    <td><select>
  <option value="Spagetti">Spagetti</option>
  <option value="Oats">Oats</option>
  <option value="Rice">Rice</option>
  <option value="Banana">Banana</option>
  <option value="Wholegrain bread">Wholegrain bread</option>
</select></td>
    <td><select id="protein">
  <option value="Pork neck">Pork neck</option>
  <option value="Cottage cheese">Cottage cheese</option>
  <option value="Chicken breast">Chicken breast</option>
  <option value="Whey protein">Whey protein</option>
  <option value="eggs">eggs</option>
</select></td>
    <td><select id="fats">
  <option value="Olive oil">Olive oil</option>
  <option value="Butter">Butter</option>
  <option value="Almonds">Almonds</option>
  <option value="Avocado">Avocado</option>
  <option value="Milk">Milk</option>
</select></td>
  </tr>
  <tr>
    <td><select>
  <option value="Spagetti">Spagetti</option>
  <option value="Oats">Oats</option>
  <option value="Rice">Rice</option>
  <option value="Banana">Banana</option>
  <option value="Wholegrain bread">Wholegrain bread</option>
</select></td>
    <td><select id="protein">
  <option value="Pork neck">Pork neck</option>
  <option value="Cottage cheese">Cottage cheese</option>
  <option value="Chicken breast">Chicken breast</option>
  <option value="Whey protein">Whey protein</option>
  <option value="eggs">eggs</option>
</select></td>
    <td><select id="fats">
  <option value="Olive oil">Olive oil</option>
  <option value="Butter">Butter</option>
  <option value="Almonds">Almonds</option>
  <option value="Avocado">Avocado</option>
  <option value="Milk">Milk</option>
</select></td>
  </tr>
</table>

<br>
<br>

<form action= "../default-user/default-user.component.html">
    <input style="font-size:40px" type="submit" value="NEXT" />
</form>
