<div style="text-align:center;">
<p style="font-size:48px"> Pick your favourite foods, {{username}} </p>

<table style="width:100%">
  <tr>
    <th><h1>Carbs:</h1></th>
    <th><h1>Protein:</h1></th>
    <th><h1>Fats:</h1></th>
  </tr>
  <tr>
    <td>
      <select [(ngModel)]="carbs_first">
        <option value="Spagetti">Spagetti</option>
        <option value="Oats">Oats</option>
        <option value="Rice">Rice</option>
        <option value="Banana">Banana</option>
        <option value="Wholegrain bread">Wholegrain bread</option>
      </select>
    </td>
    <td>
      <select id="protein" [(ngModel)]="protein_first">
        <option value="Pork neck">Pork neck</option>
        <option value="Cottage cheese">Cottage cheese</option>
        <option value="Chicken breast">Chicken breast</option>
        <option value="Whey protein">Whey protein</option>
        <option value="eggs">eggs</option>
      </select>
    </td>
    <td>
      <select id="fats" [(ngModel)]="fats_first">
        <option value="Olive oil">Olive oil</option>
        <option value="Butter">Butter</option>
        <option value="Almonds">Almonds</option>
        <option value="Avocado">Avocado</option>
        <option value="Milk">Milk</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>
      <select [(ngModel)]="carbs_second">
        <option value="Spagetti">Spagetti</option>
        <option value="Oats">Oats</option>
        <option value="Rice">Rice</option>
        <option value="Banana">Banana</option>
        <option value="Wholegrain bread">Wholegrain bread</option>
      </select>
    </td>
    <td>
      <select id="protein" [(ngModel)]="protein_second">
        <option value="Pork neck">Pork neck</option>
        <option value="Cottage cheese">Cottage cheese</option>
        <option value="Chicken breast">Chicken breast</option>
        <option value="Whey protein">Whey protein</option>
        <option value="eggs">eggs</option>
      </select>
    </td>
    <td>
      <select id="fats" [(ngModel)]="fats_second">
        <option value="Olive oil">Olive oil</option>
        <option value="Butter">Butter</option>
        <option value="Almonds">Almonds</option>
        <option value="Avocado">Avocado</option>
        <option value="Milk">Milk</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>
      <select [(ngModel)]="carbs_third">
        <option value="Spagetti">Spagetti</option>
        <option value="Oats">Oats</option>
        <option value="Rice">Rice</option>
        <option value="Banana">Banana</option>
        <option value="Wholegrain bread">Wholegrain bread</option>
      </select>
    </td>
    <td>
      <select id="protein" [(ngModel)]="protein_third">
        <option value="Pork neck">Pork neck</option>
        <option value="Cottage cheese">Cottage cheese</option>
        <option value="Chicken breast">Chicken breast</option>
        <option value="Whey protein">Whey protein</option>
        <option value="eggs">eggs</option>
      </select>
    </td>
    <td>
      <select id="fats" [(ngModel)]="fats_third">
        <option value="Olive oil">Olive oil</option>
        <option value="Butter">Butter</option>
        <option value="Almonds">Almonds</option>
        <option value="Avocado">Avocado</option>
        <option value="Milk">Milk</option>
      </select>
    </td>
  </tr>
</table> <br> <br>

<button (click)="submitPlan()" style="font-size:40px" type="submit">NEXT</button>
</div>