<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="premium-user.component.css">
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	padding:5px;
}

th {
	font-size:20px;
}

td {
	font-size:20px;
}
</style>
</head>
<body>

<p style="font-size:48px"> This is your meal plan </p>

<table style="width:50%">
  <tr>
    <th><h1>Meal 1</h1></th>
    <th><h1>Meal 2</h1></th> 
    <th><h1>Meal 3</h1></th>
  </tr>
  <tr>
    <td>Spagetti</td>
    <td>Spagetti</td>
    <td>Spagetti</td>
  </tr>
  <tr>
    <td>Spagetti</td>
    <td>Spagetti</td>
    <td>Spagetti</td>
  </tr>
  <tr>
    <td>Spagetti</td>
    <td>Spagetti</td>
    <td>Spagetti</td>
  </tr>
</table>

  
</body>
</html>
