<div style="text-align:center;">
<p style="font-size:48px"> Hello, {{username}}!<br>
  Tell us more about you
</p>

How old are you?
<div id="mycontainer">
  <input [(ngModel)]="age" type="number" placeholder="e.g. 25">
</div> <br>
How much do you weigh?
<div id="mycontainer1">
    <input [(ngModel)]="weight" type="number" placeholder="e.g. 75">
</div> <br>
How tall are you?
<div id="mycontainer2">
    <input [(ngModel)]="height" type="number" placeholder="e.g. 194">
</div> <br>
Gender:<br>
<select [(ngModel)]="gender">
  <option value="" disabled selected>Select your gender</option>
  <option value="male">Male</option>
	<option value="female">Female</option>
</select> <br><br>
Activity level:<br>
<select [(ngModel)]="activity">
  <option value="" disabled selected>Select your activity level</option>
  <option value="noActivity">No Activity</option>
	<option value="3/wk">3 wourkouts/week</option>
	<option value="more">more than 3 wourkouts/week</option>
</select> <br> <br>
Goal:<br>
<select [(ngModel)]="goal">
  <option value="" disabled selected>Select your goal</option>
  <option value="bulk">Clean bulk</option>
	<option value="cut">Lose fat</option>
</select> <br> <br>
Meals amount:<br>
<select [(ngModel)]="meals">
  <option value="" disabled selected>Select meals per day</option>
  <option value="3">3 meals per day</option>
	<option value="4">4 meals per day</option>
	<option value="5">5 meals per day</option>
</select> <br> <br>


<button style="font-size:28px" type="submit"
(click)="submitUserInfo()">NEXT</button>
</div>
